# Core ML/AI Libraries
torch==2.8.0
transformers==4.57.1
peft==0.17.1
# Custom fork of TRL implementing MDP-GRPO. See: github.com/m-salmani78/trl
trl @ git+https://github.com/m-salmani78/trl.git@MDP-GRPO
datasets==4.2.0
accelerate==1.11.0

# Inference
vllm==0.10.2
openai==2.8.1

# Data Processing
numpy==2.2.6
pandas==2.3.3
tqdm==4.67.1

# Visualization
matplotlib==3.10.7
seaborn==0.13.2

# NLP/Text Processing
immutabledict==4.2.2
langdetect==1.0.9
nltk==3.9.2
hazm==0.10.0

# Utilities
absl-py==2.3.1

# Experiment tracking
mlflow==3.7.0
wandb==0.23.0

# Benchmarking
lm_eval @ git+https://github.com/EleutherAI/lm-evaluation-harness@760639fc54214af4a6c70bcc6d8e92801748215f